{% extends 'base.html' %}

{% block content %}

<h1>Communities</h1>

<form method="GET">
    <select name="interest">
        <option value="">All Interests</option>
        {% for interest in interests %}
            <option value="{{ interest.pk }}" {% if interest == selected_interest %}selected{% endif %}>
                {{ interest.name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

<ul>
    {% for community in communities %}
        <li>
            <h2>{{ community.name }}</h2>
            <p>{{ community.description | safe }}</p> </li>
    {% endfor %}
</ul>

{% endblock %}