{% extends 'base.html' %}

{% block content %}

<h1>Search all Events, Courses, and Communities</h1>

<!-- Search Bar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <form class="d-flex col-lg-8 col-md-10 col-11" role="search" action="{% url 'eventsandcourses' %}">
                <div class="w-100">
                    <input 
                        class="form-control" 
                        name="q" 
                        type="search" 
                        placeholder="Enter an Event, Course, or Community to search" 
                        aria-label="Search for an Event, Course, or Community">
                    <small class="form-text text-muted">Search an Event, Course, or Community</small>
                </div>
                <button class="nav-button-blue" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>

<form method="GET">
    <select name="interest">
        <option value="">All Interests</option>
        {% for interest in interests %}
            <option value="{{ interest.pk }}" {% if interest == selected_interest %}selected{% endif %}>
                {{ interest.name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

<h2>Events</h2>
<ul style="list-style-type: none;">
    {% for event in events %}
    <li style="display: flex; align-items: flex-start; flex-direction: column; color: #000000; background: #7ccfeb; border-radius: 8px; padding: 24px; box-shadow: 3px rgba(0, 0, 0, 1); margin: 10px; width: 500px;">
        <a href="{% url 'events:view_items' %}"><h2>{{ event.title }}</h2></a>
        <img src="{{ event.image.url }}" alt="{{ event.name }} image">
        <p>Date: {{ event.event_date }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Spaces: {{ event.spaces }}</p>
        <p>Course: {{ event.course.name }}</p>
        <p>Description: {{ event.description | safe }}</p>
    </li>
    {% endfor %}
</ul>

<h2>Courses</h2>
<ul style="list-style-type: none;">
    {% for course in courses %}
    <li style="display: flex; align-items: flex-start; flex-direction: column; color: #000000; background: #7ccfeb; border-radius: 8px; padding: 24px; box-shadow: 3px rgba(0, 0, 0, 1); margin: 10px; width: 500px;">
        <h3>{{ course.name }}</h3>
        <img src="{{ course.image.url }}" alt="{{ course.name }} image">
        <p>{{ course.description | safe }}</p>
    </li>
    {% endfor %}
</ul>

<h2>Communities</h2>
<ul style="list-style-type: none;">
    {% for community in communities %}
    <li style="display: flex; align-items: flex-start; flex-direction: column; color: #000000; background: #7ccfeb; border-radius: 8px; padding: 24px; box-shadow: 3px rgba(0, 0, 0, 1); margin: 10px; width: 500px;">
        <h3>{{ community.name }}</h3>
        <img src="{{ community.image.url }}" alt="{{ community.name }} image">
        <p>{{ community.description | safe }}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}