{% extends 'base.html' %}

{% block content %}

<h1>Events</h1>

<form method="GET">
    <select name="interest">
        <option value="">All Interests</option>
        {% for interest in interests %}
            <option value="{{ interest.pk }}" {% if interest == selected_interest %}selected{% endif %}>
                {{ interest.name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

<ul>
    {% for event in events %}
        <li>
            <h2>{{ event.title }}</h2>
            <img src="{{ event.image.url }}" alt="{{ event.name }} image">
            <p>Date: {{ event.event_date }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Spaces: {{ event.spaces }}</p>
            <p>Course: {{ event.course.name }}</p>
            <p>Description: {{ event.description | safe }}</p>
        </li>
    {% endfor %}
</ul>

{% endblock %}