{% extends 'base.html' %}

{% block content %}

<h1>Search all Events, Courses, and Communities</h1>

<!-- Search Bar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <form class="d-flex col-lg-8 col-md-10 col-11" role="search" action="{% url 'eventsandcourses' %}">
                <div class="form-floating flex-grow-1 me-2">
                    <input class="form-control" id="floatingSearch" name="q" type="search" placeholder="Input Search"
                        aria-label="Input Search all Events, Courses, and Communities">
                    <label for="floatingSearch">Search an Event, Course, or Community</label>
                </div>
                <button class="btn btn-secondary ms-2 ms-sm-0" type="submit">Search Now</button>
            </form>
        </div>
    </div>
</div>
<br>

<form method="GET">
    <select name="interest">
        <option value="">All Interests</option>
        {% for interest in interests %}
            <option value="{{ interest.pk }}" {% if interest == selected_interest %}selected{% endif %}>
                {{ interest.name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

<h2>Events</h2>
<ul>
    {% for event in events %}
    <li>
        <h2>{{ event.title }}</h2>
        <img src="{{ event.image.url }}" alt="{{ event.name }} image">
        <p>Date: {{ event.event_date }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Spaces: {{ event.spaces }}</p>
        <p>Course: {{ event.course.name }}</p>
        <p>Description: {{ event.description | safe }}</p>
    </li>
    {% endfor %}
</ul>

<h2>Courses</h2>
<ul>
    {% for course in courses %}
    <li>
        <h3>{{ course.name }}</h3>
        <img src="{{ course.image.url }}" alt="{{ course.name }} image">
        <p>{{ course.description | safe }}</p>
    </li>
    {% endfor %}
</ul>

<h2>Communities</h2>
<ul>
    {% for community in communities %}
    <li>
        <h3>{{ community.name }}</h3>
        <img src="{{ community.image.url }}" alt="{{ community.name }} image">
        <p>{{ community.description | safe }}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}