/* Homepage styling */
.logo-img {
    width: 3em;
}

.home-msg {
    color: #545b62;
}

.home-hero-image{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.blue-h1 {
    color:#0D8AA6;
}

.gradient-h1 {
    color: #545ABF;
}

.gradient-bg {
    background: linear-gradient(135deg, #0D8AA6, #6C4ED9);
}

/* Home-Buttons */
.home-button {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
}

.button {
        display: inline-block;
        padding: 12px 24px;
        border: none;
        border-radius: 6px;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        color: white;
        transition: background-color 0.5s;
}

.nav-button-blue {
    background: linear-gradient(135deg, #0D8AA6, #6C4ED9);
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s;
    border: none;
    outline: none;
}

.nav-button-blue:hover {
    background: linear-gradient(135deg, #6C4ED9, #0D8AA6);
    transform: translateY(-2px);
}

.home-button-blue {
    background-color: #0D8AA6;
}

.home-button-blue:hover {
    background-color: #36D9C8;
}

.home-button-purple {
    background-color: #6C4ED9;
}

.home-button-purple:hover {
    background-color: #9A41F2;
}

.home-main {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #9A41F2 0%, #545ABF 50%, #36D9C8 100%);
    color: white;
    margin-bottom: 40px;
}

 /* About section in Homepage */
.home-about {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.home-about p {
    color: #545b62;
}

.home-about h2 {
    color: #545ABF;
    margin-bottom: 1rem;
}

.home-card {
    color: #545b62;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 3px rgba(0, 0, 0, 1);
    margin: 10px;
}

.home-card ul {
    list-style: none;
}

.home-card li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home-h3 {
    color: #1369A4;
}

/* About.html */
.dev-card {
    color: #545b62;
    background: #e5edfc;
    border-radius: 0 120px 0 120px;
    padding: 12px;
    box-shadow: 3px rgba(0, 0, 0, 1);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 3px;
    border-style: dotted;
    border-color: #545ABF;
}

.dev-avatar {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8em;
}

.dev-info {
    flex: 1;

}

.dev-info h2 {
    color: #545ABF;
    margin-bottom: 2rem;
}

.dev-info p {
    color: #545b62;
}

/* Navbar button */
.nav-btn {
    background: linear-gradient(135deg, #0D8AA6, #6C4ED9);
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s;
    border: none;
    outline: none;
}

.nav-btn:hover {
    background: linear-gradient(135deg, #6C4ED9, #0D8AA6);
    transform: translateY(-2px);
}

body {
    background-color: #F9FAFC;
    color: #333;
    font-family: Arial, sans-serif;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #0D8AA6;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


.profile-image {
    width: 75%;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

@media (max-width: 800px) {
    .dev-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .dev-avatar {
        width: 80px;
        margin-bottom: 1rem;
    }

    .dev-info {
        text-align: center;
    }

    .dev-card .dev-avatar {
        order: 1;
    }

    .dev-card .dev-info {
        order: 2;
    }

    .dev-card.wai .dev-avatar,
        .dev-card.joe .dev-avatar {
            order: 0; 
    }