{% url 'home' as home_url %}
{% load static %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>UniSphere</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="UniSphere is a dynamic platform designed to connect students, foster community building, and promote collaboration through clubs, workshops, events, and meet-ups.">
    <meta name="keywords" content="UniSphere, student, networking, interest, club, workshop, event, meet-up">


    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Favicon-->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'assets/images/logo.jpg' %}" alt="UniSphere Logo" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Events and Courses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'event_list' %}">Events</a></li>
                            <li><a class="dropdown-item" href="{% url 'community_list' %}">Communities</a></li>
                            <li><a class="dropdown-item" href="{% url 'course_list' %}">Courses</a></li>
                            <li><a class="dropdown-item" href="{% url 'interests' %}">Interests</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about_url %}active{% endif %}" aria-current="page"
                            href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'view_profile' user.username %}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li  class="nav-item"><a class="nav-link" href="{% url 'eventsandcourses' %}"><button class="nav-button-blue" role="button">Search</button></a></li>
                </ul>

                {% if user.is_authenticated %}
                <!-- Weclome Message -->
                <span class="navbar-text text-muted">
                    Welcome {{ user | capfirst }}
                </span>
                {% else %}
                <span class="navbar-text text-muted">
                    UniSphere: Unite and Build Your Uni Circle
                </span>
                {% endif %}
                
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">
            {% block copyright %}UniSphere{% endblock copyright %}
        </p>
        <p class="m-0 text-center text-light">Follow us:
            <a class="text-light btn btn-social" href="https://www.facebook.com/" aria-label="YouTube- opens in new tab"
                target="_blank"><i class="fab fa-facebook-square ms-1" aria-hidden="true"></i></a>
            <a class="text-light btn btn-social" href="https://www.youtube.com/" aria-label="YouTube- opens in new tab"
                target="_blank"><i class="fab fa-youtube ms-1" aria-hidden="true"></i></a>
            <a class="text-light btn btn-social" href="https://www.instagram.com/"
                aria-label="Instagram- opens in new tab" target="_blank"><i class="fab fa-instagram ms-1"
                    aria-hidden="true"></i></a>
            <a class="text-light btn btn-social" href="https://twitter.com/" aria-label="Twitter- opens in new tab"
                target="_blank"><i class="fab fa-twitter ms-1" aria-hidden="true"></i></a>
        </p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>

</html>