{% extends 'base.html' %}

{% block content %}
<h1 class="blue-h1 text-center">Interests</h1>
<!-- Search Bar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <form class="d-flex col-lg-8 col-md-10 col-11" role="search" action="{% url 'interests' %}">
                <div class="w-100">
                    <input 
                        class="form-control" 
                        name="q" 
                        type="search" 
                        placeholder="Enter your interest" 
                        aria-label="Search interests">
                    <small class="form-text text-muted">Enter your interests to search</small>
                </div>
                <button class="nav-button-blue" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<br>
<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
    {% for interest in interests %}
    <div style="width: 300px; border: 1px solid #35D5D0; border-radius: 5px; padding: 20px; background-color: white; text-align: center; font-family: Arial, sans-serif; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <h3 style="color: black; margin-bottom: 10px;">{{ interest.name }}</h3>
        <p style="color: #333; margin-bottom: 15px;">{{ interest.description | safe }}</p>
        <a href="{% url 'eventsandcourses' %}">View Events, Courses, and Communities {{ interests.name }}</a>
        </a>
        </div>
    {% endfor %}
</div>
{% endblock %}