{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <br>
            <h1 class="blue-h1"><strong>About us</strong></h1>
            <br>
            <div class="team">
                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-avatar">
                        <img src="{% static 'assets/images/Cristian.jpg' %}" alt="Cristian Picture" style="width: 100%; height: auto; border-radius: 50%;">
                    </div>
                    
                    <div class="dev-info">
                        <h2>Cristian Taheri</h2>
                        <p>Hello, I'm Cristian. This Full Stack Software Development Bootcamp has been an incredible journey of growth, collaboration, and creativity. Our final project, UniSphere, is a testament to the skills we’ve honed—combining frontend and backend development to create something we’re truly proud of. The past 4 months have been filled with challenges and achievements, and I’ve loved working with such talented teams. I can’t wait to dive into more exciting projects in the future and continue building innovative solutions. Hope you enjoy exploring UniSphere as much as we did creating it!</p>
                    </div>
                </div>

                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-info">
                        <h2>Wai Yi Wong</h2>
                        <p>Hello, I'm Wai Yi. This Full Stack Software Development Bootcamp have been an awesome journey of learning and working with amazing teams. Our final project, UniSphere, is something we’re proud of—- it showcases the frontend and backend skills we’ve built along the way over this 4-month. Hope you like it as much as we enjoyed making it, and I’m looking forward to working on more cool projects in the future!</p>
                    </div>
                    <div class="dev-avatar">
                        <img src="{% static 'assets/images/wai.jpg' %}" alt="Wai Yi's Picture" style="width: 100%; height: auto; border-radius: 50%;">
                    </div>
                </div>

                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-avatar">
                        <img src="{% static 'assets/images/crystal.png' %}" alt="Cristian Picture" style="width: 100%; height: auto; border-radius: 50%;">
                    </div>
                    <div class="dev-info">
                        <h2>Crystal Johnson</h2>
                        <p>This week feels like a chemistry experiment gone wrong, with tasks and deadlines exploding all around me.  I'm trying to convince my colleagues that we need a revolutionary transport system – something that defies the laws of physics. It's an uphill battle, but I'm determined to find a solution, even if it means channeling my inner political strategist and working the system. Meanwhile, I'm keeping my spirits up and focusing on the positive, just like a certain small-town Indiana deputy director would. </p>
                    </div>
                </div>


                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-info">
                        <h2>Joe Thewlis</h2>
                        <p>Hi, I'm Joe. I have learnt a lot on this bootcamp and had a lot of fun with the varied cast of people in my group. This hackathon has felt like a nice goodbye and I could <em>not</em> have done it without this team of amazing future developers. I don't know what the future holds but I will never forget this valuable experience.</p>
                    </div>
                    <div class="dev-avatar">
                        <img src="{% static 'assets/images/jo.jpg' %}" alt="Joe's Picture" style="width: 100%; height: 100%; border-radius: 50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}