{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <br>
            <h1 class="blue-h1"><strong>About us</strong></h1>
            <br>
            <div class="team">
                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-avatar">
                        <img src="{% static 'assets/images/Cristian.jpg' %}" alt="Cristian Picture" style="width: 100%; height: 100%; border-radius: 50%;">
                    </div>
                    
                    <div class="dev-info">
                        <h2>Cristian Taheri</h2>
                        <p>I m Cristian and I am part of WMCA 2|2024</p>
                    </div>
                </div>

                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-info">
                        <h2>Wai Yi Wong</h2>
                        <p>Hello, I'm Wai Yi. This Full Stack Software Development Bootcamp have been an awesome journey of learning and working with amazing teams. Our final project, UniSphere, is something we’re proud of—- it showcases the frontend and backend skills we’ve built along the way over this 4-month. Hope you like it as much as we enjoyed making it, and I’m looking forward to working on more cool projects in the future!</p>
                    </div>
                    <div class="dev-avatar">☺</div>
                </div>

                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-avatar">☺</div>
                    <div class="dev-info">
                        <h2>Developer #3</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>


                <div class="dev-card col-10 col-md-5 col-lg-8 mx-auto">
                    <div class="dev-info">
                        <h2>Developer #4</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="dev-avatar">☺</div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}